* {
    font-family: 'FreeMono', monospace;
}

.Dosca__Buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem 10rem;
}

.Dosca__Buttons-lobby {
    flex-direction: row;
    margin-right: 20px;
    align-items: flex-start;
    flex-direction: row;
    text-align:center;
    
    padding: 4rem 4rem;
}

.Dosca__Buttons button {
    width: 200px;
    height: 80px;
    left: 500px;
    top: 500px;

    font-family: var(--font-family);
    color: #f3f3f3;
    font-size: 20px;
    line-height: 27px;

    border:0;
    outline: none;
    cursor: pointer;

    background: #91BAD6;
    border-radius: 7px;
}