.Dosca__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 1rem;
}

.Dosca__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Dosca__navbar-links-logo {
    margin-right: 3rem;
}

.Dosca__navbar-links-logo img {
    width: 100px;
    height: 120px;
}

.Dosca__navbar-links-container {
    display: flex;
    flex-direction: row;
}

.Create-Lobby {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #98bcd4;
    color: white;
    cursor: pointer;
    padding: 1rem 2.5rem;
}
.Dosca__navbar-links-container p,
.Dosca__navbar-sign p,
.Dosca__navbar-menu-container p {
    color: #528aae;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 2rem;
    cursor: pointer;
}
